{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
    <div style="display:flex" class="alert alert-primary"  role="alert">
        <div style="flex: auto">社内SNS</div> 
        <div style="flex: right; margin-right: 10px">
            <a href="{% url 'create' %}" class="btn btn-outline-primary btn" tabindex="-1" role="button">投稿する</a>
        </div>
        <div style="flex: right">
            <a href="{% url 'logout' %}" class="btn btn-danger btn" tabindex="-1" role="button">ログアウト</a>
        </div>
    </div>
    
{% endblock header %}

{% block contents %}
    {% for item in sns_list %}
        <div class="alert alert-success" role="alert">
            <p>タイトル: {{item.title}}</a></p>    
            <p>投稿者: {{item.author}}</p>    
            <p>内容: {{item.content}}</p>
            <a href="{% url 'detail' item.pk %}" class="btn btn-primary btn" tabindex="-1" role="button" >詳細</a>
            <a href="{% url 'good' item.pk %}" class="btn btn-info btn good" tabindex="-1" role="button" data-id={{item.pk}}>いいね {{item.good}}</a>
            <a href="{% url 'subscribe' item.pk %}" class="btn btn-info btn subscribe" tabindex="-1" role="button">
                {% if item.subscribe %}
                既読
                {% else %}
                未読
                {% endif %}
            </a>
        </div>
    {% endfor %}
    
{% endblock contents %}